.enter-symbol {
    cursor: pointer;
}

.movie-wordle input {
    width: 80%;
    aspect-ratio: 7/1;
    font-size: 20px;
}

@media (min-width: 40rem) {
    .movie-wordle input {
        width: initial;
    }
}