
.no-match{
    background-color: #b81d13;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-match{
    background-color: #efb700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match{
    background-color: #008450;
    display: flex;
    align-items: center;
    justify-content: center;
}
