.display-manga-area {
    display: flex;
    justify-content: center;
}

.display-manga-area .display-manga-section {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 25px;
    overflow: hidden;
}

.display-manga-area .manga-section-right-box {
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.display-manga-area .loading-manga-section {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 150px;
    width: 90%;
    border-radius: 25px;
    overflow: hidden;
}

@media (min-width: 40rem) {
    .display-manga-area .display-manga-section {
        width: 60%;
    }
    .display-manga-area .loading-manga-section{
        width: 60%;
    }
}