.display-game-area {
    display: flex;
    justify-content: center;
}

.display-game-area .display-game-section {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 25px;
    overflow: hidden;
}

.display-game-area img {
    width: 50%;
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
}

.display-game-area .game-section-right-box {
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.display-game-area .loading-game-section {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 150px;
    width: 90%;
    border-radius: 25px;
    overflow: hidden;
}

@media (min-width: 40rem) {
    .display-game-area .display-game-section {
        width: 60%;
    }
    .display-game-area .loading-game-section {
        width: 60%;
    }
}