
.manga-flex-handler {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.manga-flex-handler .manga-selected {
    background-color: grey;
    color: white;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
}

.manga-flex-handler .manga-selected:hover {
    background-color: darkgray;
}

.manga-flex-handler .manga-selected .top-right-fake-close{
    color: white;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}