.select-games .buttons{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.select-games button{
    margin: 10px;
    width: 240px;
    height: 60px;
    font-size: larger;
}