.single-tag .cis-tag{
    background-color: red;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.single-tag .match-tag {
    background-color: green;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}