.single-tag .cis-tag{
    background-color: #b81d13;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.single-tag .match-tag {
    background-color: #008450;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}